body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: beige;
}

.blocks {
 @include flex(column, wrap);
  width: 80%;
  margin: 0 auto;
  &__pink {
    @include theme(pink);
	@include size()
  }
  &__red {
    @include theme(red);
	@include size(true)
  }
  &__no-theme{
	@include theme();
	@include size()
  }
}
